/*
    === SCSS Variables ===
*/

// Primary text colors
$white-text: #ffffff;
$black-text: #313840;
$purple-text: #331133;

// Primary background colors
$white-bg: #ffffff;
$black-bg: #313840;
$red-bg: #f42a41;
$blue-bg: #1e90ff;

// Social icon colors
$twitter: #38a1f3;
$linkedin: #0077b5;
$github: #24292e;
$dribbble: #e74d89;